<table class="table table-bordered table-hover table-responsive" aria-label="jobs-list">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Company</th>
            <th scope="col">Place</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor: pointer;"
         *ngFor="let job of jobs"
         routerLinkActive="bg-secondary"
        >
            <td [routerLink]="[job.id]">{{job.id}}</td>
            <td (click)="onViewJob(job.id)">{{job.title}}</td>
            <td (click)="onViewJob(job.id)">{{job.company}}</td>
            <td (click)="onViewJob(job.id)">{{job.place}}</td>
            <td (click)="onViewJob(job.id)">{{job.time}}</td>
            <td><button class="btn btn-sm btn-primary" (click)="onEdit(job.id)">Edit</button></td>
        </tr>
    </tbody>
</table>
