<div class="row">
    <div class="col-md-6">
        <h5>Post New Job</h5>
        <div class="form-group mt-4">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" #title>
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" id="company" class="form-control" #company>
        </div>
        <div class="form-group">
            <label for="place">Place</label>
            <input type="text" id="place" class="form-control" #place>
        </div>
        <div class="form-group">
            <button class="btn btn-success" (click)="onSubmitPost()">Post Job</button>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item"><b>Last Added Post</b></li>
            <li class="list-group-item" *ngFor="let job of jobs.reverse()">{{job.title}}</li>
        </ul>
    </div>
</div>

