<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="">Name<span class="text-danger">*</span></label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      [ngClass]="{'is-invalid' : !employeeForm.get('name').valid && employeeForm.get('name').touched}"
      formControlName="name"
    />
    <span class="invalid-feedback">Name must contain two words and both word's first character must be capital</span>
  </div>
  <div class="form-group">
    <label for="company">Company<span class="text-danger">*</span></label>
    <input
      type="text"
      name="company"
      id="company"
      class="form-control"
      [ngClass]="{'is-invalid': !employeeForm.get('company').valid && employeeForm.get('company').touched}"
      formControlName="company"
    />
    <span class="invalid-feedback">This field is required</span>
  </div>
  <div class="form-group">
    <label for="area">Area<span class="text-danger">*</span></label>
    <select name="area" id="area" class="form-control" formControlName="area">
      <option value="area1">area 1</option>
      <option value="area2">area 2</option>
      <option value="area3">area 3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="mobile">Mobile No<span class="text-danger">*</span></label>
    <input
      type="text"
      id="mobile"
      name="mobile"
      class="form-control"
      [ngClass]="{'is-invalid': !employeeForm.get('mobile').valid && employeeForm.get('mobile').touched}"
      formControlName="mobile"
      placeholder="+xxx-xx-xxx"
    />
    <span class="invalid-feedback" *ngIf="!employeeForm.get('mobile').valid && employeeForm.get('mobile').touched && employeeForm.controls.mobile.errors.required">Please Enter Mobile Number</span>
    <span class="invalid-feedback" *ngIf="!employeeForm.get('mobile').valid && employeeForm.get('mobile').touched && employeeForm.controls.mobile.errors.pattern">Invalid Format</span>
  </div>
  <div formGroupName="gender">
    <div class="form-check form-check-inline">
      <div class="mr-2">Gender:<span class="text-danger">*</span></div>
      <input
        type="checkbox"
        id="male"
        name="male"
        class="form-check-input"
        formControlName="male"
      />
      <label class="form-check-label" for="male">Male</label>
      <input
        type="checkbox"
        id="female"
        name="female"
        class="form-check-input"
        formControlName="female"
      />
      <label class="form-check-label" for="female">Female</label>
    </div>
  </div>
  <br />
  <div class="form-check form-check-inline">
    <div class="mr-2">New To Company:<span class="text-danger">*</span></div>
    <input
      type="radio"
      id="isNewToCompanyYes"
      name="isNewToCompany"
      class="form-check-input"
      value="yes"
      formControlName="isNewToCompany"
    />
    <label class="form-check-label" for="isNewToCompanyYes">Yes</label>
    <input
      type="radio"
      id="isNewToCompanyNo"
      name="isNewToCompany"
      class="form-check-input"
      value="no"
      formControlName="isNewToCompany"
    />
    <label class="form-check-label" for="isNewToCompanyNo">No</label>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" [disabled]="!employeeForm.valid">
      Submit
    </button>
  </div>
</form>

